FREECHAT_API_KEYS=development:replace-this-development-key
FREECHAT_CACHE_SALT_SECRET=replace-with-at-least-32-bytes-for-development
FREECHAT_DEFAULT_WORKER_ENDPOINT=http://host.docker.internal:8000
MINIO_ROOT_USER=freechat-development
MINIO_ROOT_PASSWORD=replace-this-development-password
